.sign-Up{

    display: flex;
    justify-content: center;
    align-items: center;
}
.forme_siUp{
    margin: 50px 20px;
    width: 60%;
    height: 580px;
    box-shadow: 0 2px 15px rgba(163, 70, 70, 0.1);
    border-radius: 10px;
}
.forme_siUp.witing{
    width: 80%;
    height: 85px;
    height: fit-content;
    margin: 5px 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.witing p{
    margin-top: -11px;
}
.email{
    margin: 10px;
    width: 80%;
    height: 50px;
    border:2px solid rgb(228, 225, 225); 
    font-size: 20px;

}
.name_full{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 5px 10%;
    align-items: start;
    justify-content: space-between;
}
@media(max-width:556px){
    
.name_full{
    display: flex;
    flex-direction: column;
    
}
.forme_siUp{

    height: fit-content;
}
.name{
    width:200px;
}
}
.name{
    margin: 5px 0;
    width:49%;
    height: 50px;
    border:2px solid rgb(228, 225, 225); 
    font-size: 20px;
}

.condition {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 5px 10%;
    font-size: 17px;
    font-weight: 500;
}
.condition input{
    width: 20px;
    background-color:rgb(228, 225, 225);
    margin-top: 2px;
    margin-right: 8px;

}
.btnSinup{
    width: 200px;
    height: 50px;
    margin: 15px 10%;
}